.box {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  transition: left 1s linear;

  /*** SAME AS ***/
  /*transition-duration: 1s;
  transition-property: left;
  transition-timing-function: linear;*/
  position: absolute;
  top: 0;
  left: 0;
}

.box:hover {
  left: 300px;
}
