ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: square;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
} */
