.nav {
  border-left: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav a {
  background-color: #efefef;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  color: #000;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  width: 75px;
}
